@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');



*{
    margin: 0;
    padding: 0;
}
/*header, nav, article, aside, section, footer{
    border: solid 1px black;
}*/


header{
    grid-area: header;
}

nav {
    grid-area: nav;
}
article{
    grid-area: article;
}

aside{
    grid-area: aside;
}

section{
    grid-area: section;
}

footer{
    grid-area: footer;
}

#main{
    display: grid;
}

#iniciarSesion{
    display:grid;
}

#contacto{
    display: grid;
}

#preguntasFrecuentes{
    display: grid;
}

#nosotras{
    display: grid;
}

#venta{
    display: grid;
}
section.imgProductos{
    display: grid;
}

/*a{
    text-decoration: none;

}*/

li{
   list-style: none;
}

@media screen and (min-width: 320px){

    #main{
        grid-template-columns: auto;
        grid-template-rows: 10% 5% auto 20% 22%;
        grid-column-gap: 20px;
        grid-row-gap: 15px;
        grid-template-areas: "header" "article" "aside" "section" "footer";
    }
    
    header div.buscar, nav, .iniciarSesion{
        display: none;
    }
    header{
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        align-items: center;
    }

    .imgNavMobile{
        max-width: 60px;
        max-height: 60px;
    }

    .imgNav{
        max-width: 30px;
        max-height: 30px;
    }

    .tituloPrincipal{
        font-size: 20px;
    }


    
    .newsletter{
        display: flex;
        justify-content: center;
        outline: #22333b;
    }

    .primerAsideMobile{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 15px;
          
    }

    /*.imgCompra1, .imgCompra2{
        max-width: 100%;
        max-height: 100%;
    }*/

    .imgCompra1, .imgCompra2{
        max-width: 75%;
        max-height: 50%;
        padding-top: 50px;
    }

    aside div img.imgProducto{
        display: flex;
        flex-direction: row;
        justify-items: center;
       
    }
    
    .opciones1, .opciones2, .opciones3{
        display: flex;
        flex-direction: row;
        margin: 5px;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 15px;
        padding-top: 15px;
        
        
    }

    .op1, .op2, .op3{
        max-width: 10%;
        max-height: 10%;
        padding-right: 5px;
    }
    
     /*footer{
       display: flex;
       flex-direction: row;
       align-items: center;
    }*/

   /* .footers{
        display: grid;
        flex-direction: column;
        align-items: flex-start;
        
    }*/

    .seguinos{
        display: flex;
        justify-content: flex-end;       
    }

    .imgFooter{
       display: flex;
       justify-content: end;
       justify-items: flex-end;
    }

    .copyrightFooter{
        display: flex;
        flex-direction: row;  
        justify-content: center;
        align-content: flex-end;
    }

    .imgF{
        max-width: 25px;
        max-height: 25px;
    }

    #contacto{
        grid-template-columns: auto;
        grid-template-rows: 10% 5% auto 22%;
        grid-column-gap: 20px;
        grid-row-gap: 30px;
        grid-template-areas: "header" "article" "section" "footer";
    }
    
    .tituloSecundario{
        text-align: center;
        padding-bottom: 150px;
        padding-top: 50px;
    }

    .formularioContacto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #iniciarSesion{
      
        grid-template-columns: auto;
        grid-template-rows: 10% 5% auto 22%;
        grid-column-gap: 20px;
        grid-row-gap: 50px;
        grid-template-areas: "header" "article" "section" "footer";
 
    }  
    
    .formularioIniciarSesion{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    .formIzquierdo, .formDerecho{
        display: flex;
        justify-content: center;
        padding-bottom: 15px;
        padding-top: 15px;
    }

    .buttomCentro{
        display: flex;
        margin-left: 80px;
    }

    #preguntasFrecuentes{
        
        grid-template-columns: auto;
        grid-template-rows: 10%  auto 22%;
        grid-row-gap: 30px;
        grid-template-areas: "header" "section" "footer";
    }

    #nosotras{
        grid-template-columns: auto;
        grid-template-rows: 10% 35% auto 22%;
        grid-column-gap: 20px;
        grid-row-gap: 30px;
        grid-template-areas: "header" "aside" "article" "footer";
    }

    .imgNosotras{
        padding-left: 50px;
        width: 250px;
        height: 200px;
        
    }

    #venta{
        grid-template-columns: auto;
        grid-template-rows: 10%  5% auto 22%;
        grid-row-gap: 30px;
        grid-template-areas: "header" "article" "section" "footer";
    }

    /*.tituloSecundario{
        text-align: center;
        padding-bottom: 150px;
        padding-top: 50px;
    }*/

    .imgProductos{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        grid-column-gap: 15px;
        grid-row-gap: 15px;
        justify-items: stretch;
        align-items: stretch;
        padding-left: 10px;
    

    }

    .imgProd{
        max-width: 50%;
        max-height: 50%;
        padding-left: 40px;
        padding-bottom: 30px;
        padding-top: 30px;
    }
    
}

@media screen and (min-width: 1200px){

    #main{
        grid-template-columns: auto;
        grid-template-rows: 10% 5% auto 20% 10%;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        grid-template-areas: "header" "article" "aside" "section" "footer";
    }

    nav, header div.buscar, .iniciarSesion{
        display: flex;

    }

    .navegador, .buscar, .imgNav, .iniciarSesion{
        display: flex;
        align-items: center;
        
    }

    .imgNav{
        padding-top: 25px;
    }

    ul.menu{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: center;
        
    
    }
    nav ul.menu li{
        display: inline-block;
        align-items: center;
        justify-content: space-between;
        padding-left: 10px;
        padding-right: 10px;
    }


    .primerAside{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .info1, .info2{
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    .imgCompra1, .imgCompra2{
        max-width: 75%;
        max-height: 50%;
        padding-top: 100px;
    }

    /*aside.primerAside div { 
       padding-bottom: 200px;
    }*/

    .menuOpc{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 400px;
        padding-right: 400px;
    
    }

    div.columna{
        padding-left: 20px;
        padding-right: 20px;
        
    }

    footer div ul.footerEsc li{
        display: inline-block;
        align-items: center;
        justify-content: flex-start;
        padding-top: 10px;
        padding-left: 10px;
     
    }
    
    footer p.copyrightFooter{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-top: 10px;
        padding-left: 25px;
    }

    .imgF{
        max-width: 25px;
        max-height: 25px;
    }

   /* .seguinos{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 25px;
    }*/

    #contacto{
        grid-template-columns: auto;
        grid-template-rows: 10% 5% auto 10%;
        grid-column-gap: 20px;
        grid-row-gap: 15px;
        grid-template-areas: "header" "article" "section" "footer";
    }

    
    section.formularioContacto{
        padding-top: 100px;
        padding-bottom: 100px;
    }


    #iniciarSesion{
        grid-template-columns: auto;
        grid-template-rows: 10% 5% auto 10%;
        grid-column-gap: 20px;
        grid-row-gap: 15px;
        grid-template-areas: "header" "article""section" "footer";
    }
    section.formIs{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-top: 10% ;
        padding-bottom: 10%;
        
    }

    section.formIs div form.formIzq h4{
        padding-bottom: 60px;
        
        
    }

    section.formIs div form.formDer{
        padding-left: 90px;


    }

    section.formIs div form.formIzq fieldset, section.formIs div form.formDer fieldset{
        font-size: 24px;
    }
    

    #nosotras{
        grid-template-columns: auto;
        grid-template-rows: 10% auto 35% 10%;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        grid-template-areas: "header" "aside" "article" "footer";
    }

    .imgNosotras{
        padding-left: 500px;
        width: 800px;
        height: 400px;
        
    }

   .presentacion{
       padding-top: 20px;
       padding-left: 50px;
       padding-right: 50px;
       font-size: 16px;
       line-height: 1.5em;
   }
   
    #preguntasFrecuentes{
        grid-template-columns: auto;
        grid-template-rows: 12% auto 14%;
        grid-column-gap: 20px;
        grid-row-gap: 15px;
        grid-template-areas: "header" "section" "footer";
    }

   section.preguntas h5{
       padding-top: 20px;
       padding-left: 50px;
       padding-right: 50px;
       font-size: 16px;
       line-height: 1.5em;
   }
   section.preguntas p{
        padding: 20px 50px 5px 50px;
        font-size: 16px;
        line-height: 1.5em;
   }

    #venta{
        grid-template-columns: auto;
        grid-template-rows: 8% 10% auto 10%;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        grid-template-areas: "header" "article" "section" "footer";
    }

    section.imgProductos{
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
        grid-column-gap: 20px;
        grid-row-gap: 15px;
        grid-template-areas: "section section section";
        justify-content: space-around;
        align-items: center;

    }
    section.imgProductos div p{
        text-align: center;
    }

    .imgProd{
        max-width: 50%;
        max-height: 50%;
        padding-left: 150px;
        padding-bottom: 30px;
        padding-top: 30px;
    }

    .imgNav{
        max-width: 30px;
        max-height: 30px;
    }
    
    .op1, .op2, .op3{
        max-width: 10%;
        max-height: 10%;
        padding-right: 5px;
    }
    
    .opA, .opB, .opC{
        padding-left: 50px;
    }
    
    .opciones1, .opciones2, .opciones3{
        border: solid 3px #22333b;
    }
    
    .tituloSecundario{
        text-align: center;
        padding-bottom: 150px;
        padding-top: 50px;
    }

    .newsletter{
        padding-top: 40px;
        padding-bottom: 40px;
        outline: #22333b;
    }

}

/*aca va las modificaciones para ambos css, 
tanto para mobile como para desktop*/
/*de aca*/
body{
    background-color: #f9fafb;
    font-family: 'Montserrat', sans-serif;
    color: #22333b;
    margin-right: 0%;
}

header, footer{
    background-color: #FAF5F2;
    font-family: 'Montserrat', sans-serif;
    color: #22333b;
    
}

header{
    border-bottom: solid 3px #fceee6;
}

footer{
    border-top: solid 3px #fceee6;
}

a{
    text-decoration: none;
    color: #22333b;
}


.linea, .buscado, .inicio{
    border: 0;
    text-decoration-line: underline;
    text-decoration-color:#22333b;
}

.buscado{
    background-color: #FAF5F2;
}
.completarForm{
    border: 0;
    text-decoration-line: none;
    text-decoration-color:#22333b;
    background-color: #f9fafb;
    color: #22333b;
    border-bottom: solid 3px #22333b;
    
}

#grad{
    background-image: linear-gradient(to bottom, #faf5f2, #fceee6 );
  
}   

#grad2{
    background-image: linear-gradient(to bottom, #fceee6, #faf5f2  );
  
}   

#boton{
    background-image: linear-gradient(to bottom, #fceee6, #fceee6);
    border: none;
    transition: 1s;

}

#boton:hover{
    background-image: linear-gradient(to bottom, #22333b, #faf5f2  );
    color: #fceee6;
}


.movOpciones{
   
    background-color:  #fceee6;
    animation-name: movOpciones;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 4s;
    animation-delay: 2s;
}

@keyframes movOpciones {
    0%{
        height: 40px;
    }
    25%{
        height: 40px;
    }
    50%{
        height: 30px;
        background-color: #fceee6;;
    }
    75%{
        height: 40px;
    }
    100%{
        height: 20px;
        background-color: #fceee6;;
    }

}


